In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'C:\Users\PERSONAL\yolo\most_expensive_players\most expensive players.csv')
df

,Player,Year,Fee,Position,Club from,Club to,Base Fee,Add-ons,Total Fee
0,Neymar,2017,€222m,Forward,Barcelona,PSG,222.0,0,222
1,Kylian Mbappe,2017,€145m (+€35m),Forward,Monaco,PSG,145.0,35,180
2,Joao Felix,2019,€126m,Forward,Benfica,Atletico Madrid,126.0,0,126
3,Enzo Fernandez,2023,€121m,Midfielder,Benfica,Chelsea,121.0,0,121
4,Philippe Coutinho,2018,€120m (+€40m),Midfielder,Liverpool,Barcelona,120.0,40,160
...,...,...,...,...,...,...,...,...,...
96,Aaron Wan-Bissaka,2019,€50m,Fullback,Crystal Palace,Manchester United,50.0,0,50
97,Thomas Partey,2020,€50m,Midfielder,Atletico Madrid,Arsenal,50.0,0,50
98,Victor Osimhen,2020,€50m,Forward,Lille,Napoli,50.0,0,50
99,Anthony Martial,2015,€49.3m,Forward,Monaco,Manchester United,49.3,0,49.3
100,Gylfi Sigurdsson,2017,€49.2m,Midfielder,Swansea City,Everton,49.2,0,49.2

3 Most Expensive Players by position

In [3]:
forward = df[df['Position'] == 'Forward'].head(3)
forward

,Player,Year,Fee,Position,Club from,Club to,Base Fee,Add-ons,Total Fee
0,Neymar,2017,€222m,Forward,Barcelona,PSG,222.0,0,222
1,Kylian Mbappe,2017,€145m (+€35m),Forward,Monaco,PSG,145.0,35,180
2,Joao Felix,2019,€126m,Forward,Benfica,Atletico Madrid,126.0,0,126

In [4]:
midfielder = df[df['Position'] == 'Midfielder'].head(3)
midfielder

,Player,Year,Fee,Position,Club from,Club to,Base Fee,Add-ons,Total Fee
3,Enzo Fernandez,2023,€121m,Midfielder,Benfica,Chelsea,121.0,0,121
4,Philippe Coutinho,2018,€120m (+€40m),Midfielder,Liverpool,Barcelona,120.0,40,160
6,Jack Grealish,2021,€117m,Midfielder,Aston Villa,Manchester City,117.0,0,117

In [8]:
fullback = df[df['Position'] == 'Defender'].head(3)
fullback

,Player,Year,Fee,Position,Club from,Club to,Base Fee,Add-ons,Total Fee
19,Harry Maguire,2019,€87.1m,Defender,Leicester City,Manchester United,87.1,0,87.1
23,Virgil van Dijk,2018,€84.5m,Defender,Southampton,Liverpool,84.5,0,84.5
25,Wesley Fofana,2022,€80.6m,Defender,Leicester City,Chelsea,80.6,0,80.6

In [6]:
goalkeeper = df[df['Position'] == 'Goalkeeper'].head(3)
goalkeeper

,Player,Year,Fee,Position,Club from,Club to,Base Fee,Add-ons,Total Fee
28,Kepa Arrizabalaga,2018,€80m,Goalkeeper,Athletic Club,Chelsea,80.0,0,80
40,Alisson Becker,2018,€73m,Goalkeeper,Roma,Liverpool,73.0,0,73
89,Gianluigi Buffon,2001,€52m,Goalkeeper,Parma,Juventus,52.0,0,52